# Day1_ass10

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('MyRecord.csv')
salary = [3445,5656,4245,6569,4569,2384,3475,3456,4576,5678]
df['salary']= salary
print(df)

   Unnamed: 0         0  salary
0          11     rajiv    3445
1          12      riya    5656
2          13    yuvraj    4245
3          14   falguni    6569
4          15    ujwala    4569
5          16  abhijeet    2384
6          17    sayali    3475
7          18  abhidnya    3456
8          19  bhagyesh    4576
9          20    ishika    5678