# Day1_ass9

In [1]:
import pandas as pd

In [2]:
ind = [11,12,13,14,15,16,17,18,19,20]
lst = ['rajiv', 'riya', 'yuvraj', 'falguni', 'ujwala', 'abhijeet', 'sayali', 'abhidnya', 'bhagyesh', 'ishika']
X = pd.Series(lst, index = ind)
print(X)

11       rajiv
12        riya
13      yuvraj
14     falguni
15      ujwala
16    abhijeet
17      sayali
18    abhidnya
19    bhagyesh
20      ishika
dtype: object

In [5]:
ser = pd.Series(list)
print(ser)

0    <class 'list'>
dtype: object

In [7]:
ser.to_frame()

                0
0  <class 'list'>

In [10]:
print(X)

11       rajiv
12        riya
13      yuvraj
14     falguni
15      ujwala
16    abhijeet
17      sayali
18    abhidnya
19    bhagyesh
20      ishika
dtype: object

In [14]:
X.head()

11      rajiv
12       riya
13     yuvraj
14    falguni
15     ujwala
dtype: object

In [15]:
X.tail()

16    abhijeet
17      sayali
18    abhidnya
19    bhagyesh
20      ishika
dtype: object

In [16]:
X.head(2)

11    rajiv
12     riya
dtype: object

In [17]:
X.tail(2)

19    bhagyesh
20      ishika
dtype: object

In [20]:
X.iloc[4]

'ujwala'

In [21]:
X.iloc[3]

'falguni'

In [33]:
X.to_csv("MyRecord.csv")