# Day1_ass3

In [1]:
import pandas as pd

In [2]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,9])
ds = ds1+ds2

In [3]:
print("Add two series:")
print(ds)

Add two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [5]:
print("Subtract two series:")
ds = ds1-ds2
print(ds)

Subtract two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

In [6]:
print("Multiply two Series:")
ds = ds1*ds2
print(ds)

Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

In [7]:
print("Divide Series1 by Series2:")
ds = ds1/ds2
print(ds)

Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64